<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Transaction Statement</title>
</head>
<body>
    <div class="heading">
        <h1>Transaction Statement</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Date</th>
                <th>Time</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>${{ transaction[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>
